/* Fonte de letra "Fira Code" do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');

body {
    font-family: "Fira Code", monospace;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    margin-top: 90px;
}

nav {
    margin-top: -15px;
}

nav a {
    color: #797171;
    margin: 0 10px;
    text-decoration: none;
    font-size: 15px;
}

nav a:hover {
    color: #000;
}

p {
    font-weight: 400;
    margin: 48px;
    margin-top: 0;
    font-size: 15px;
}

.stuff-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 35px;
    max-width: 1000px;
    margin: 20px auto;
    padding: 40px;
}

.stuff-container img {
    width: 100%;
    height: auto;
}